@game-border: solid 4px @theme-blue;
@theme-blue: #00affc;
@theme-light-blue: lighten(#00affc, 20%);
@theme-orange: #FF8000;

body {
	background-color: @theme-blue;
	font-size: 12px;
}

.container {
	background-color: #fcfcfc;
	padding-left:30px;
	padding-right:30px;
	height: 675px;
	border-radius:1%;
}

td {
	height:150px;
	width:150px;
}

button.btn:hover{
	background-color: @theme-light-blue;
}

button.btn{
	background-color: @theme-blue;
}



.game-title{
	padding: 20px;
	background-color: @theme-orange;
	color: #FFFFFF;
	border-radius: 5px;
	font-weight: bold;
	text-align: center;
}

 // Selecting Game Play options
.player-mode-choice {
	display: inline-block;
}

form.single-player-level {
	display:inline;
}

[type="radio"]:checked+label:after{
	background-color: @theme-blue;
	border-color: @theme-blue;	
}

label[for=twoPlayer]{
	margin-left: 20px;
}

[type="radio"]:not(:checked)+label, [type="radio"]:checked+label{
	font-size: 12px;
}

// ScoreBoard
table.score-board.centered {
	margin-bottom: 30px;
	float: right;
	display: inline;
	width: 35%;
	thead tr th {
		height: 20px;
		border: solid 1px white;
		padding: 5px;
		background-color: @theme-blue;
		color:white;
	}
	tbody tr td {
		height: 20px;
		border: solid 1px white;
		padding: 5px;
	}
}

// GameBoard
.board-square {
	font-size: 70px;
	margin-top: 5px;
	margin-bottom:5px;
	text-align: center;
}

.row-1 {
	:first-child{
		border-bottom: @game-border;
	}
	:nth-child(2){
		border-left: @game-border;
		border-right: @game-border;
	}
	:last-child{
		border-bottom: @game-border;
	}
}

.row-2 {
	:first-child{
		border-bottom: @game-border;
	}
	:nth-child(2){
		border: @game-border;
	}
	:last-child{
		border-bottom: @game-border;
	}
}

.row-3 {
	:nth-child(2){
		border-left: @game-border;
		border-right: @game-border;
	}
}


//Modal
.modal-header {
	text-align: center;
	border-bottom: solid 1px darken(#fafafa, 20%)
}

.modal-body {
	text-align: center;
}

.modal-close {
	text-align:center;
	margin-top: 25px;
}


